        * {
            margin: 0px;
            padding: 0px;
        }
        
        body {
            width: 100%;
            height: auto;
            background-image: url("../IMG/bg2.jpg");
            /* background-image: url("../IMG/musikbg18.jpg"); */
            /* background-color: #f3f3f3; */
            /* background-size: cover;
            background-repeat: no-repeat; */
            overflow-x: hidden !important;
        }
        
        .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close::before {
            content: "X";
            position: relative;
            top: -7px;
            color: black
            /* background: rgb(255, 255, 255); */
        }
        
        #banner {
            margin: 0 auto;
            position: relative;
            width: 800px;
            height: 120px;
            /* background-color: rgba(93, 104, 34, 0.815); */
            /*background:-moz-linear-gradient(top, #fff, #adf);  Firefox */
            /*background:-webkit-linear-gradient(top, #fff, #adf);  Safari, Chrome */
            /*background:-o-linear-gradient(top, #fff, #adf);  Opera */
            /*background:-ms-linear-gradient(top, #fff, #adf);  IE */
            /*background:linear-gradient(top, #fff, #adf);  W3C Standard */
        }
        
        #textillate1 {
            left: -120px;
            top: 20px;
        }
        
        #slider1 {
            margin: 0 auto;
            position: relative;
            width: 100%;
            height: auto;
        }
        
        #header-menu-ul {
            position: relative;
            width: 100%;
            height: 70px;
            background-color: #2a599c;
        }
        
        #header-menu-ul>li {
            margin-left: 0px;
            list-style: none;
            float: left;
            width: 150px;
            height: 80px;
            border-right: 1px inset #c6c6c6;
            transform: skew(-30deg);
        }
        
        #header-menu-ul>li>a {
            color: white;
        }
        
        #logo {
            animation-name: logo-example;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
        
        #button-wrapper {
            /* background-image: url(../IMG/bg5.jpg); */
            /* background-color: rgb(221, 240, 197); */
            /* border: 7px dotted rgb(218, 218, 215); */
            /* opacity: 0.5; */
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        #button-ul {
            position: relative;
            width: 650px;
            height: 100px;
            margin: 0 auto;
            /* border: 1px solid red; */
        }
        
        #button-ul>li {
            list-style: none;
            float: left;
            width: 250px;
        }
        
        #button-ul>li:nth-child(1) {
            margin-right: 20px;
            margin-left: 100px;
        }
        
        #label-darmstadt {
            animation-name: example-label-darmstadt;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
        
        #label-dieburg {
            animation-name: example-label-dieburg;
            animation-duration: 2s;
            animation-iteration-count: infinite;
        }
        
        #button-wrapper-smart {
            margin-top: -50px;
        }
        
        #button-ul-smart {
            display: none;
            padding-top: 15px;
            position: relative;
            /* height: 160px; */
            width: 100%;
            margin: 0 0;
            /* background: radial-gradient(rgba(255, 255, 255, 0.863), rgb(255, 255, 255), gray); */
        }
        
        #button-ul-smart>li {
            list-style: none;
            width: 80%;
            position: relative;
            margin: 0 auto;
        }
        
        #button-ul-smart>li:nth-child(1) {
            margin-bottom: 10px;
        }
        
        #damga-smart {
            display: none;
        }
        
        #damga-smart2 {
            display: none;
        }
        
        #animation-text-smart {
            animation-name: example-animation-text-smart;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
        
        @keyframes example-animation-text-smart {
            100% {
                transform: scale(1.1);
            }
        }
        /*=====================================*/
        /*         
        @keyframes example-label-darmstadt {
            50% {
                color: darkblue;
            }
            50% {
                transform: translateY(5px);
            }
        }
        
        @keyframes example-label-dieburg {
            50% {
                color: darkblue;
            }
            50% {
                transform: translateY(-5px);
            }
        } */
        /* @keyframes logo-example {
            50% {
                transform: scale(0.6);
            }
            50% {
                transform: scale(0.7);
            }
        } */
        
        #saz2 {
            animation-name: saz-example;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
        /* @keyframes saz-example {
50% {
transform: rotate(-80deg);
}
50% {
transform: rotate(80deg);
}
} */
        
        #gitar2 {
            animation-name: gitar-example;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
        /* @keyframes gitar-example {
50% {
transform: rotate(-90deg);
}
50% {
transform: rotate(90deg);
}
} */
        /*==================== media ============================================*/
        
        @media only screen and (min-width:1250px) {
            body {
                height: 880px;
            }
            #dialog-tablet {
                display: none !important;
            }
            #label-www-smart1 {
                display: none !important;
            }
            #label-www {
                margin-top: 50px;
            }
        }
        
        @media only screen and (min-width:900px) and (max-width:1250px) {
            body {
                height: 820px;
            }
            #label-www-smart1 {
                display: none !important;
            }
            #dialog-tablet {
                display: none !important;
            }
            #textillate1 {
                transform: scale(0.9);
                /* left: 100px; */
            }
            #logo {
                top: 60px;
                left: 10px;
            }
            #damga {
                display: none;
            }
            #damga-smart {
                display: block;
                transform: scale(0.7);
                margin-top: 100px;
                /* transform: translate(20px); */
            }
            #gitar2 {
                display: none;
                /* transform: rotate(90deg);
          
            margin-top: 60px; */
            }
            #saz2 {
                display: none;
                /* transform: rotate(60deg);
             transform: translate(750px); */
                /* margin-top: 140px;
            margin-left: 50px; */
            }
            #label-www {
                margin-top: 35px;
                margin-left: 0px;
                transform: scale(0.8);
            }
            #ziyaretci {
                margin-top: -50px;
                display: block !important;
            }
            #footer-label {
                margin-top: -55px;
                /* display: none; */
            }
            #logo {
                top: 0px;
            }
            #button-wrapper {
                margin-top: 70px !important;
            }
        }
        
        @media only screen and (min-width:680px) and (max-width:900px) {
            body {
                /* background-image: url("../IMG/bg22.jpg"); */
                height: 830px;
                overflow: hidden !important;
            }
            #label-www-smart1 {
                display: none !important;
            }
            #ziyaretci {
                display: block !important;
                margin-top: -50px;
            }
            #textillate1 {
                display: none;
            }
            #gitar2 {
                margin-left: -100px;
                display: none;
            }
            #saz2 {
                margin-left: -130px;
                margin-top: -40px;
                display: none;
            }
            #damga {
                display: none;
            }
            #footer-label {
                top: -100px;
            }
            #ziyaretci {
                display: block !important;
            }
            #damga2-tablet {
                display: block !important;
                margin-top: 50px !important;
            }
            .ui-dialog {
                /* transform: scale(0.8);
            left: -100px !important;
            background-color: rgb(13, 83, 66) !important; */
                /* font-size: 1.7em; */
                display: none !important;
            }
            #damga2 {
                margin-top: 100px;
            }
            #button-wrapper {
                margin-top: 70px !important;
            }
            #label-www {
                margin-top: 50px !important;
            }
        }
        
        @media only screen and (min-width:410px) and (max-width:680px) {
            body {
                /* height: 780px !important; */
                background-image: url("../IMG/bg2.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                overflow: hidden !important;
            }
            #ziyaretci {
                margin-top: 100px;
                left: -10px;
                /* display: none; */
            }
            #damga2-tablet {
                display: none !important;
                right: 10px;
            }
            #damga {
                display: none !important;
            }
            #textillate1 {
                display: none !important;
            }
            .ui-dialog {
                transform: scale(0.7);
                /* transform: translateX(50px); */
                margin-left: -140px;
                background-color: rgb(47, 146, 69);
                display: none !important;
            }
            #button-wrapper {
                display: none !important;
            }
            #saz2,
            #gitar2 {
                display: none !important;
            }
            #button-ul-smart {
                margin-top: 50px !important;
                display: block !important;
            }
            #button-ul-smart>li:nth-child(2) {
                margin-top: 30px !important;
            }
            #label-www {
                margin-top: 90px !important;
                margin-left: 0px !important;
                display: none !important;
            }
            #ziyaretci {
                margin-top: -140px !important;
                margin-left: 0px !important;
                display: block !important;
            }
            #footer-label {
                margin-top: -130px !important;
                margin-left: 0px !important;
                display: block !important;
            }
        }
        
        @media only screen and (min-width:180px) and (max-width:410px) {
            body {
                height: 680px !important;
                width: 320px !important;
                background-image: url("../IMG/bg2.jpg");
                background-size: cover;
                background-repeat: no-repeat;
                overflow: hidden !important;
            }
            #banner {
                background-color: rgba(94, 104, 34, 0.562);
                width: 400px !important;
                font-size: 0.8em !important;
            }
            #logo {
                top: 80px;
            }
            #textillate1-smart {
                display: block !important;
                left: 40px;
                top: 30px;
            }
            #textillate1 {
                display: none;
            }
            #damga {
                display: none;
            }
            #button-ul {
                display: none;
            }
            #button-ul>li {
                width: 100%;
                float: none;
                margin-left: 30px;
            }
            #button-ul>li:nth-child(1) {
                margin-left: 30px;
            }
            #label-www {
                transform: scale(0.5) !important;
                margin-top: -130px;
                margin-left: -50px;
            }
            #button-wrapper {
                display: none;
            }
            #button-ul-smart {
                display: block !important;
                margin-top: -80px !important;
            }
            #footer-label {
                margin-left: 45px;
                display: none;
            }
            /* #damga-smart2 {
                display: block !important;
            } */
            #logo {
                display: none;
            }
            #nota {
                display: none;
            }
            #saz2 {
                margin-left: -130px;
                margin-top: -40px;
                display: none;
            }
            #gitar2 {
                display: none;
            }
            #button-ul-smart {
                height: 330px;
            }
            #button-ul-smart {
                margin-top: -35px;
                padding-top: 80px;
            }
            /* #button-ul-smart>li {
            float: none !important;
        } */
            #ziyaretci {
                top: 825px;
            }
            /* #damga-smart2 {
                display: none !important;
            } */
            .ui-dialog {
                display: none !important;
            }
            /* #slider1>img {
            height: 150px !important;
        } */
            #label-www {
                margin-left: -55px !important;
                margin-top: 0px !important;
                display: none !important;
            }
            #ziyaretci {
                margin-top: -380px !important;
                margin-left: 39px !important;
                display: block !important;
            }
            #footer-label {
                top: 560px !important;
                left: -35px !important;
                display: none !important;
            }
            #button-ul-smart>li:nth-child(2) {
                margin-top: 50px !important;
            }
            #dialog-tablet {
                height: 450px !important;
            }
            #label-www-smart1 {
                display: none !important;
            }
            #animation-text-smart {
                display: block !important;
            }
            #footer-label-smart {
                display: block !important;
            }
            #smart-680-div {
                display: block !important;
            }
            #smart-footer-label {
                display: block !important;
            }
            #slider-wrapper,
            #slider1 {
                display: none !important;
            }
            #hr-smart {
                display: block !important;
            }
            #damga-smart {
                display: none !important;
            }
        }